* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container>h3 {
    margin: 0px 0px 30px 0px;
    color: coral;
    font-size: 22px;
}

.container>a {
    margin: 0px 0px 12px 0px;
    color: crimson;
    font-size: 18px;
    text-decoration: none;
}

.container>a:hover {
    text-decoration: underline;
}

.container {
    width: 400px;
    height: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 15px auto;
    background: rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    height: 20px;
    padding: 12px;
    font-size: 18px;
    margin: 0 auto;
    margin: 4px;
    outline: none;
    border: 2px solid rgb(115, 115, 121);
    border-radius: 7px;
}

input[type="submit"] {
    width: 20%;
    height: 30px;
    padding: 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: crimson;
    color: white;
}